@font-face {
  font-family: 'Marcellus';
  src: url("../fonts/Marcellus/Marcellus-Regular.ttf");
  font-weight: 900;
  font-style: normal
}

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
}

a {
  color: #0077B6;
  transition: 0.5s;
}

a:hover, a:active, a:focus {
  color: #03c5ec;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Marcellus", sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  padding: 0;
}

/* Prelaoder */
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #fff url("../img/preloader.svg") no-repeat center center;
}

/* Back to top button */
.back-to-top {
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  padding: 6px 12px 9px 12px;
  font-size: 16px;
  border-radius: 2px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }
}

.back-to-top:focus {
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  outline: none;
}

.back-to-top:hover {
  background: #0077B6;
  color: #fff;
}

/*--------------------------------------------------------------
# Welcome
--------------------------------------------------------------*/
#hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

#bg-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-container, .fadeIn{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  padding: 0px 0;
  position: relative;
  z-index: 1;
  text-align: center;
}

.hero-logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#hero .hero-logo img {
  max-width: 100%;
}

.logo{
  margin-left: 60px;
}

.banner {
  margin-right: 30px;
}

#hero .actions {
  margin-bottom: 20px;
}

#hero .actions .btn-get-started, 
#hero .actions .btn-services {
  margin: 0 10px;
}

#hero h1 {
  margin: 10px 0;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
}

#hero h2 {
  color: #ffffff;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 24px;
    line-height: 26px;
    margin-bottom: 30px;
  }
  #hero h2 .rotating {
    display: block;
  }
}

#hero .rotating > .animated {
  display: inline-block;
  color: #999;
}

#hero .actions a {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
}

#hero .btn-get-started {
  background: #0077B6;
  border: 2px solid #0077B6;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: none;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services {
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-services:hover {
  background: #0077B6;
  border: 2px solid #0077B6;
}

/*#google_translate_element {
  display: none;
}

#languageDropdown {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
  font-size: 16px;
  cursor: pointer;
  margin-right: 30px;
}

#languageDropdown:hover {
  background: #0077B6;
  border: 2px solid #0077B6;
  color: #fff;
}

#languageDropdown option {
  color: #ccc;
}*/

.btn-services i {
  margin-left: 8px;
}

.hero-mid {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 60px;
  margin-top: -40px;
  margin-left: -50px;
}

#hero-text {
  text-align: left !important;
  font-size: 60px;
  text-transform: none !important;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fcfcfc;
  padding: 20px 0;
  height: 100px;
}

#header #logo {
  float: left;
  margin-left: -20px;
}

#header #logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header #logo h1 a, #header #logo h1 a:hover {
  color: #fff;
}

#header #logo img {
  padding: 0;
  margin: -40px;
}

@media (max-width: 768px) {
  #header {
    height: 80px;
  }
  #header #logo h1 {
    font-size: 26px;
  }
  #header #logo img {
    max-height: 80px;
    max-width: 150px;
    margin-left: 10px;
  }
}

.is-sticky #header {
  background: #fcfcfc;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Nav Menu Essentials */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu ul {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  z-index: 99;
}

.nav-menu li {
  position: relative;
  white-space: nowrap;
}

.nav-menu > li {
  float: left;
}

.nav-menu li:hover > ul,
.nav-menu li.sfHover > ul {
  display: block;
}

.nav-menu ul ul {
  top: 0;
  left: 100%;
}

.nav-menu ul li {
  min-width: 180px;
}

/* Nav Menu Arrows */
.sf-arrows .sf-with-ul {
  padding-right: 30px;
}

.sf-arrows .sf-with-ul:after {
  content: "\f107";
  position: absolute;
  right: 15px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
}

.sf-arrows ul .sf-with-ul:after {
  content: "\f105";
}

/* Nav Meu Container */
#nav-menu-container {
  float: right;
  margin: 5px 0;
}

@media (max-width: 768px) {
  #nav-menu-container {
    display: none;
  }
}

/* Nav Meu Styling */
.nav-menu a {
  padding: 10px 15px;
  text-decoration: none;
  display: inline-block;
  color: #000;
  font-family: 'Marcellus', sans-serif;
  font-weight: 300;
  font-size: 16px;
  outline: none;
}

.nav-menu a:hover, .nav-menu li:hover > a {
  color: #0077B6;
}

.nav-menu ul {
  margin: 4px 0 0 15px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.08);
}

.nav-menu ul li {
  background: #fff;
  border-top: 1px solid #f4f4f4;
}

.nav-menu ul li:first-child {
  border-top: 0;
}

.nav-menu ul li:hover {
  background: #f6f6f6;
}

.nav-menu ul li a {
  color: #333;
}

.nav-menu ul ul {
  margin: 0;
}

/* Mobile Nav Toggle */
#mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  margin: 20px 20px 0 0;
  border: 0;
  background: none;
  font-size: 24px;
  display: none;
  transition: all 0.4s;
  outline: none;
}

#mobile-nav-toggle i {
  color: #fff;
}

@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}

/* Mobile Nav Styling */
#mobile-nav {
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 998;
  background: rgba(0, 0, 0, 0.9);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#mobile-nav ul li {
  position: relative;
}

#mobile-nav ul li a {
  color: #fff;
  font-size: 16px;
  overflow: hidden;
  padding: 10px 22px 10px 15px;
  position: relative;
  text-decoration: none;
  width: 100%;
  display: block;
  outline: none;
}

#mobile-nav ul li a:hover {
  color: #fff;
}

#mobile-nav ul li li {
  padding-left: 30px;
}

#mobile-nav ul .menu-has-children i {
  position: absolute;
  right: 0;
  z-index: 99;
  padding: 15px;
  cursor: pointer;
  color: #fff;
}

#mobile-nav ul .menu-has-children i.fa-chevron-up {
  color: #0077B6;
}

#mobile-nav ul .menu-item-active {
  color: #0077B6;
}

#mobile-body-overly {
  width: 100%;
  height: 100%;
  z-index: 997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}

/* Mobile Nav body classes */
body.mobile-nav-active {
  overflow: hidden;
}

body.mobile-nav-active #mobile-nav {
  left: 0;
}

body.mobile-nav-active #mobile-nav-toggle i{
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
/* Sections Common
--------------------------------*/
.section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.section-description {
  text-align: center;
  margin-bottom: 40px;
  color: #03c5ec;
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: #0077B6;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Get Started Section
--------------------------------*/
#about {
  background: #fff;
  padding: 80px 0;
}

#about .about-container {
  background: url(../img/gms/photo3.jpg) left no-repeat;
  background-size: 25%;
  background-position: 15%;
}

#about .about-content {
  background: #fff;
}

#about .about-title {
  color: #333;
  font-weight: 700;
  font-size: 28px;
}

#about .about-text {
  line-height: 26px;
}

#about .about-text:last-child {
  margin-bottom: 0;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Counting Effect
--------------------------------*/
.count {
  font-size: 48px;
  font-weight: bold;
  color: #333;
  display: block;
}

#stats p {
  color: #03c5ec;
}

/*
  Memberships
*/

#memberships {
  background: #f6f6f6;
  padding: 80px 0;
}

.slider-container {
  position: relative;
  width: 100%;
  height: 30vh;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  min-width: calc(100% / 5);
  flex: 0 0 calc(100% / 5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
}

button.prev, button.next {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  z-index: 1;
}

button.prev:hover, button.next:hover {
  background: #0077B6;
  transition: background 0.5s ease;
}

button.prev {
  left: 0px;
}

button.next {
  right: 0px;
}

/* Services Section
--------------------------------*/
#supplies {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("../img/gms/photo2.jpg") fixed center center;
  background-size: cover;
  padding: 80px 0 60px 0;
}

#supplies .service-item {
  margin-bottom: 20px;
}

#supplies .service-icon {
  float: left;
  background: #0077B6;
  padding: 16px;
  border-radius: 50%;
  transition: 0.5s;
  border: 1px solid #0077B6;
}


#supplies .service-icon i {
  color: #fff;
  font-size: 20px;
}

#supplies .service-item .service-icon:hover {
  background: #fff;
}

#supplies .service-item .service-icon:hover i {
  color: #0077B6;
}

#supplies .service-title {
  margin-left: 80px;
  font-weight: 700;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#supplies .service-title a {
  color: #111;
}

#supplies .service-description {
  margin-left: 80px;
  line-height: 24px;
}

/* Subscribe Section
--------------------------------*/
#services {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/gms/photo1.jpg) fixed center center;
  background-size: cover;
  padding: 80px 0;
}

#services .subscribe-title {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#services .subscribe-text {
  color: #fff;
}

#services .subscribe-btn-container {
  padding-top: 20px;
  margin-top: 8%;
}

#services .subscribe-btn {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 20px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#services .subscribe-btn:hover {
  background: #0077B6;
  border: 2px solid #0077B6;
}

/* Portfolio Section
--------------------------------*/
#portfolio {
  background: #fff;
  padding: 80px 0;
}

#portfolio .portfolio-item {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 260px;
  width: 100%;
  display: table;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .details {
  height: 260px;
  background: #fff;
  display: table-cell;
  vertical-align: middle;
  opacity: 0;
  transition: 0.3s;
  text-align: center;
}

#portfolio .portfolio-item .details h4 {
  font-size: 16px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, -15px, 0);
  transform: translate3d(0, -15px, 0);
  font-weight: 700;
  color: #333333;
}

#portfolio .portfolio-item .details span {
  display: block;
  color: #666666;
  font-size: 13px;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
}

#portfolio .portfolio-item:hover .details {
  opacity: 0.8;
}

#portfolio .portfolio-item:hover .details h4 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

#portfolio .portfolio-item:hover .details span {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* why Section
--------------------------------*/
#why {
  background: #f6f6f6;
  padding: 80px 0;
}

#why .profile {
  text-align: center;
}

#why .profile .pic {
  border-radius: 50%;
  border: 6px solid #fff;
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
  width: 260px;
}

#why .profile .pic img {
  max-width: 100%;
}

#why .profile h4 {
  font-weight: 700;
  color: #0077B6;
  margin-bottom: 5px;
}

#why .profile span {
  color: #333333;
}

#why .quote {
  position: relative;
  background: #fff;
  padding: 60px;
  margin-top: 40px;
  font-size: 16px;
  font-style: italic;
  border-radius: 5px;
}

#why .quote b {
  display: inline-block;
  font-size: 22px;
  left: -9px;
  position: relative;
  top: -8px;
}

#why .quote small {
  display: inline-block;
  right: -9px;
  position: relative;
  top: 4px;
}

.square {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.square-flip {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
  float: left;
  margin: 10px; /* reduced margin */
  width: calc(25% - 20px); /* 25% width for each card with margin */
  height: 300px; /* reduced height */
  overflow: hidden;
}
.square, .square2 {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  position: absolute;
  top: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.square-flip .square {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 1;
}
.square-flip:hover .square {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.square2 {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
  z-index: 1;
}
.square-flip:hover .square2 {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.square-container, .square-container2 {
  padding: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transform: translateY(-50%) translateX(0px) scale(1);
  -ms-transform: translateY(-50%) translateX(0px) scale(1);
  transform: translateY(-50%) translateX(0px) scale(1);
  transform-style: preserve-3d;
  z-index: 2;
}
.square-flip:hover .square-container {
  -webkit-transform: translateY(-50%) translateX(-250px) scale(.88); /* Adjusted translateX */
  -ms-transform: translateY(-50%) translateX(-250px) scale(.88);
  transform: translateY(-50%) translateX(-250px) scale(.88);
}
.square-container2 {
  padding: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transition: transform 0.60s cubic-bezier(.5, .3, .3, 1);
  -webkit-transform: translateY(-50%) translateX(250px) translateZ(60px) scale(.88); /* Adjusted translateX */
  -ms-transform: translateY(-50%) translateX(250px) translateZ(60px) scale(.88);
  transform: translateY(-50%) translateX(250px) translateZ(60px) scale(.88);
  transform-style: preserve-3d;
  z-index: 2;
}
.square-flip:hover .square-container2 {
  -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
  transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
}
.square-flip h2 {
  color: white;
  font-family: "Marcellus";
  font-weight: 700;
  font-size: 18px; /* Adjusted font size */
}
.square-flip h3 {
  color: white;
  font-family: "Raleways";
  font-weight: 500;
  font-size: 14px; /* Adjusted font size */
  line-height: 20px; /* Adjusted line height */
}
.flip-overlay {
  display: block;
  background: rgba(0, 43, 78, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.align-center {
  margin: 0 auto;
}
.kallyas-button {
  display: block;
  width: 140px; /* Adjusted button width */
  padding: 14px 24px; /* Adjusted button padding */
  font-family: "Open Sans";
  font-weight: 600;
  color: #fff;
  background: #0077B6;
  margin: 0 auto;
  border-radius: 2px;
  text-decoration: none;
  background: #03c5ec;
  background: -moz-linear-gradient(-45deg, #03c5ec 0%, #0077B6 49%, #005887 100%);
  background: -webkit-linear-gradient(-45deg, #03c5ec 0%, #0077B6 49%, #005887 100%);
  background: linear-gradient(135deg, #03c5ec 0%, #0077B6 49%, #005887 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#03c5ec', endColorstr='#005887', GradientType=1);
}
.square-flip .square .boxshadow, .square-flip .square .textshadow, .square-flip .square2 .boxshadow, .square-flip .square2 .textshadow {
  -ms-transition: 0.60s;
  transition: 0.60s;
  -webkit-transition: 0.60s;
}
.square-flip .square .boxshadow {
  -webkit-box-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3); /* Adjusted box shadow */
  -moz-box-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
}
.square-flip .square .textshadow {
  -webkit-text-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3); /* Adjusted text shadow */
  -moz-text-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
  text-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
}
.square-flip .square2 .boxshadow {
  -webkit-box-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
  box-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
}
.square-flip .square2 .textshadow {
  -webkit-text-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
  text-shadow: 12px 21px 29px -4px rgba(0, 0, 0, 0.3);
}
.kallyas-btn, .kallyas-text-link {
  display: inline-block;
  font-size: 16px; /* Adjusted font size */
  font-weight: 700;
  line-height: 14px;
  color: #fff;
  background: #005887;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  margin-top: 10px;
  padding: 12px 22px;
  transition: background .5s;
}
.kallyas-btn:hover, .kallyas-text-link:hover {
  background: #03c5ec;
  color: #005887;
}

/* sectors Section
--------------------------------*/
#sectors {
  background: #fff;
  padding: 80px 0 60px 0;
}

#sectors .member {
  text-align: center;
  margin-bottom: 20px;
}

#sectors .member .pic {
  margin-bottom: 15px;
  overflow: hidden;
  height: 260px;
  position: relative;
}

#sectors .member .pic img {
  max-width: 100%;
  transition: transform 0.3s ease;
}

#sectors .member .pic:hover img {
  transform: scale(1.2);
}

#sectors .member .pic-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: transparent;
  color: #fff;
  padding: 8px 0;
  transform: translateY(100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
}

#sectors .member .pic:hover .pic-text {
  transform: translateY(0%);
  opacity: 1;
}

#sectors .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  color: #333;
}

#sectors .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#sectors .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
}

#sectors .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

#sectors .member .social {
  margin-top: 15px;
}

#sectors .member .social a {
  color: #b3b3b3;
}

#sectors .member .social a:hover {
  color: #0077B6;
}

#sectors .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/* Contact Section
--------------------------------*/
#contact {
  background: #f7f7f7;
  padding: 80px 0;
}

#contact .info {
  color: #333333;
}

#contact .info i {
  font-size: 32px;
  color: #0077B6;
  float: left;
}

#contact .info p {
  padding: 0 0 10px 50px;
  line-height: 24px;
}

#contact .form #sendmessage {
  color: #0077B6;
  border: 1px solid #0077B6;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #errormessage {
  color: red;
  display: none;
  border: 1px solid red;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px;
}

#contact .form #sendmessage.show, #contact .form #errormessage.show, #contact .form .show {
  display: block;
}

#contact .form .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px;
}

#contact .form input, #contact .form textarea {
  border-radius: 0;
  box-shadow: none;
}

#contact .form button[type="submit"] {
  background: #0077B6;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

#contact .form button[type="submit"]:hover {
  background: #25d8fc;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0077B6;
  padding: 30px 0;
  color: #fff;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #ccc;
}

/* Locations Section */
#locations {
  background: #fff;
  padding: 80px 0;
  text-align: center;
}

.contact-logo {
  margin-top: -20px;
}